@font-face {
    font-family: HelveticaNeue;
    font-weight: heavy;
    src: url("fonts/helvetica/heavy.otf") format("opentype");
}
@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/helvetica/Helvetica-Bold.woff') format('woff');
}

body {
    background-image: url("./backgroundNew.png");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    margin: auto;
    width: 640px;
    padding: 50px;
    font-family: Helvetica;
}

h1 {
    font-family: HelveticaNeue;
    font-weight: bolder;
    font-size: 80px;
    text-align: center;
}

h2 {
    font-family: HelveticaNeue;
    font-weight: bold;
}

p, a {
    font-size: 20px;
    font-family: Helvetica;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.banner {
    background-color: #c9bd0c;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.pfp {
    border-radius: 50%;
    height: 150px;
    width: auto;
    transition: box-shadow 0.2s ease-in-out;
}

.pfp:hover {
    box-shadow:
        0 0 0 2px #5e30eb, 
        0 0 5px 3px #c07aff; 
}


.btn {
  background-color: transparent;
  color: inherit;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to right, #5e30eb 0%, #d357fe 100%);
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.btn:hover {
  background: black; 
  box-shadow:
    0 0 0 2px #5e30eb, 
    0 0 5px 3px #c07aff; 
}

