@font-face {
    font-family: HelveticaNeue;
    font-weight: heavy;
    src: url("fonts/helvetica/heavy.otf") format("opentype");
}

body {
    background-image: url("./backgroundNew.png");
    background-attachment: fixed;
    background-size: cover;
    color: white;
    text-align: center;
    margin: auto;
    width: 640px;
    padding: 50px;
    font-family: "Inclusive Sans";
}

h1 {
    font-family: HelveticaNeue;
    font-weight: bolder;
    font-size: 80px;
    text-align: center;
}

h2 {
    font-family: HelveticaNeue;
    font-weight: bold;
}

p, a {
    font-size: 20px;
}

img
{
    height: 275px;
    width: auto;
    border-radius: 6px;
}

a:link {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
}

.banner {
    background-color: #c9bd0c;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
}

.pfp {
    border-radius: 50%;
    height: 150px;
    width: auto;
}

.btn {
  background-color: transparent;
  color: inherit;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;

  border-radius: 50px;


  background: linear-gradient(to right, #5e30eb 0%, #d357fe 100%);
  backdrop-filter: blur(1000px) grayscale(1); 
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

}

.btn:hover {
  background-color: linear-gradient(to right, #5e30eb 0%, #d357fe 100%);
  box-shadow: 
    0 0 0 2px #5e30eb,
    0 0 2px 2px #c07aff; 
}
